<div class="incident-index">
  <.headline :let={vibe}>
    <.icon name="hero-trophy-mini" /> 25 Incidents Resolved This Month! {vibe}
    <:tagline>
      Thanks for pitching in.
    </:tagline>
  </.headline>
  <div class="incidents">
    <.incident_card :for={incident <- @incidents} incident={incident} />
  </div>
</div>
